.product-card {
  border-radius: 12px;
  height: 100%;
  transition: 0.25s ease;
  display: flex;
  flex-direction: column;

  &:hover {
    transform: translateY(-4px);
  }
}


.img-box {
  height: 160px; 
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-height: 100%;
    width: auto;
    object-fit: contain;
  }
}


.title {
  font-size: 14px;  
  font-weight: 600;
  margin: 6px 0;
}
.desc {
  font-size: 12px;
  color: #777;
  margin: 6px 0;
  line-height: 1.4;
}

.price {
  font-size: 18px;   
  font-weight: 700;
  margin: 8px 0;
  color: #2e7d32;
}

mat-card-content {
  padding: 12px;
}


