<div class="container">
  <div class="row mt-5">
    <div
      class="col-lg-4 col-md-6 col-sm-12 mt-5"
      *ngFor="let product of productsArr1" >
     <mat-card class="product-card">

        <img
          mat-card-image
          [src]="product.images"
          alt="{{ product.title }}"
        />

        <mat-card-content>
          <h3>{{ product.title }}</h3>

          <p>
            {{ product.category.name }}
          </p>

          <p class="desc">
            {{ product.description }}
          </p>

          <h2 class="price">
            ${{ product.price }}
          </h2>
        </mat-card-content>

        <mat-card-actions align="end">
          <button mat-raised-button color="primary">
            Add to Cart
          </button>
        </mat-card-actions>

      </mat-card>

    </div>
  </div>
</div>
